.task-container {
  margin-top: 25px;
}

.task-container-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-container-header-normal {
  display: flex;
  gap: 15px;
}

.task-container-header-normal > div {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 350px;
}

.task-analytics-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.task-analytics-container h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.active-option {
  color: #f16ca3;
  border-bottom: 2px solid #f16ca3 !important;
}

@media screen and (min-width: 768px) {
  .task-container-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .task-container-header-normal {
    justify-content: flex-end;
  }
}

.task-container-header > div {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 350px;
}

.task-search-container {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

.task-search-container > input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.task-search-container > input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.filter-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.create-task-btn {
  /* background-color: #000000; */
  color: #ffffff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  height: 32px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  font-size: 24px;
  cursor: pointer;
}

.filter-popup-container {
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-width: 150px;
}

.filter-status-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 15px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.filter-status-container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-status input,
.filter-status label {
  cursor: pointer;
}

.popup-arrow {
  display: none;
}

.popup-overlay {
  background-color: #00000040;
  /* backdrop-filter: blur(5px); */
}

.create-task-popup-container {
  padding: 25px;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-width: 330px;
}

@media screen and (min-width: 768px) {
  .create-task-popup-container {
    min-width: 480px;
  }
}

.create-task-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-task-form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.task-input-field {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  min-height: 40px;
}

.create-btn {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 16px;
  padding: 0.6em 1.5em;
  width: 95px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-error-msg {
  color: red;
  font-size: 12px;
}
