.home-container {
  min-height: 100vh;
  /*  background-color: rgb(226, 244, 255); */
}

@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
  }
}

.home-main {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 100%;
  max-height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-main {
    border-top-left-radius: 45px;
    padding: 45px;
    padding-top: 55px;
  }

  .home-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #000000;
    z-index: -1;
  }
}

.greeting-msg {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}

.wave {
  animation: wave-animation 2.5s infinite ease-in-out;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.task-list-container {
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
  max-height: 55vh;
  overflow-y: scroll;
}

@media screen and (min-width: 390px) {
  .task-list-container {
    max-height: 65vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .task-list-container {
    max-height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  .task-list-container {
    max-height: 60vh;
  }
}

.task-list-container::-webkit-scrollbar {
  width: 0px;
}

.task-card {
  padding: 20px;
  border-radius: 0.75rem;
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 22px;
  min-height: 278px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .task-card {
    width: 47%;
  }
}

@media screen and (min-width: 1024px) {
  .task-card {
    width: 30%;
    max-width: 320px;
    margin-right: 20px;
  }
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-card div > p {
  margin-top: 20px;
  word-break: break-all;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-container > h2 {
  font-size: 21px;
  font-weight: 500;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  align-items: flex-start;
}

.task-status {
  font-size: 0.72rem;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 15px;
  text-align: center;
  margin-top: 6px;
}

.pending {
  color: #ffffff;
  background-color: #afafaf;
}

.in-progress {
  color: #ffffff;
  background-color: #6278f5;
}

.completed {
  color: #ffffff;
  background-color: #00d97e;
}

.edit-container {
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
  position: relative;
}

.edit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.edit-icon {
  cursor: pointer;
  font-size: 24px;
}

.edit-popup-container {
  position: absolute;
  top: 30px;
  right: -15px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.3s ease;
  z-index: 99;
  opacity: 0;
}

.display-edit {
  opacity: 1;
}

@media screen and (min-width: 567px) {
  .edit-popup-container {
    top: 40px;
    right: -30px;
  }
}

.edit-popup-btn,
.delete-popup-btn {
  color: #000000;
  padding: 10px;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  background: transparent;
}

.task-card-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.task-card-footer > div {
  display: flex;
  align-items: center;
}

.task-card-footer > p {
  font-size: 0.9rem;
}

.task-card-footer > p::before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #6278f5;
  margin-right: 5px;
  display: inline-block;
}

.task-profile-icon,
.task-profile-icon-2 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.task-profile-icon-2 {
  position: relative;
  right: -5px;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

.no-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.delete-popup-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.3s ease;
  z-index: 99;
  margin: 20px;
}

.delete-popup-container > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}

.delete-popup-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.delete-popup-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  height: 40px;
  width: 70px;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-popup-btn:first-child {
  background-color: rgb(253, 88, 88);
}

.delete-popup-btn:last-child {
  background-color: rgb(0, 217, 126);
  margin-left: 10px;
}
