.home-container {
  min-height: 100vh;
  /*  background-color: rgb(226, 244, 255); */
}

@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
  }
}

.home-main {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .home-main {
    border-top-left-radius: 45px;
    padding: 45px;
    padding-top: 55px;
  }

  .home-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #000000;
    z-index: -1;
  }
}

.greeting-msg {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}

.wave {
  animation: wave-animation 2.5s infinite ease-in-out;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.task-list-container {
  margin-top: 30px;
  height: 100%;
}

.task-card {
  padding: 20px;
  border-radius: 0.75rem;
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.task-card-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .task-card-header > div:nth-child(2) {
    gap: 20px;
  }
}

.task-card-header > p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #7c7c7c;
}

.edit-icon {
  cursor: pointer;
  font-size: 20px;
}

.task-card-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: flex-end;
}

.task-card-footer > div {
  display: flex;
  align-items: center;
}

.task-profile-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.task-profile-icon:first-child {
  position: relative;
  right: -5px;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
}
